
<header class="mainHeader">
    <div class="container-fluid">
        <div class="mainHeader__main">
            <div class="mainHeader__left">
                <div class="mainHeader__logo">
                    <a href="/"><img src="assets/images/logo.png"></a>
                </div>
            </div>
            <div class="mainHeader__right"></div>
        </div>
    </div>
</header>
<div class="loginBodyBackground "></div>
<div class="change_pass">
    <div class="container-fluid px-0 h-100">
        <div class="mainContent__main h-100 d-flex">
            <div class="change_passwrd_inputs" >
                <form [formGroup]="changePasswordForm"  (ngSubmit)="changePassword()" *ngIf="!resetPasswordMessage">
                    <h2>Reset Password</h2>
                    <div class="form_group position-relative">
                                
                                <input matInput type="email" class="form-control" placeholder="{{'login.login_id' | transloco}}"
                                    formControlName="email" maxlength="50"  autocomplete="off webauthn"/>
                                    <img src="assets/images/envelope.svg" class="formInput_icon formInput_iconEnvelope">       
                                <div *ngIf="changePasswordForm.controls.email.touched && changePasswordForm.controls.email.errors"
                                class="error_login">
                                <div *ngIf="changePasswordForm.controls.email.errors.required">{{'login.email_required' | transloco}}</div>
                                </div>
                                <div *ngIf="changePasswordForm.get('email').hasError('pattern')">
                                    {{'login.enter_valid_email' | transloco}} 
                                </div>
                                                                
                    </div>
                    <div class="form_group position-relative">
                        <input [type]="!newpassword ? 'password' : 'text'" formControlName="newPassword" placeholder="{{'new_pass' | transloco}}" maxlength="50" />
                        <img src="assets/images/lock.svg" class="formInput_icon">
                        <div *ngIf="changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)"  class="error_login">
                            <div *ngIf="changePasswordForm.controls.newPassword.errors.required"> {{'new_pass_required' | transloco}}</div>
                            <div *ngIf="changePasswordForm.controls.newPassword.errors.minlength">
                                {{'pass_length' | transloco}}
                            </div>
                            <div *ngIf="changePasswordForm.controls.newPassword.errors.maxlength">
                                {{'pass_length_20' | transloco}}
                            </div>
                            <div *ngIf="!changePasswordForm.controls.newPassword.errors.maxlength && !changePasswordForm.controls.newPassword.errors.minlength && changePasswordForm.controls.newPassword.errors.pattern">
                                {{'pass_check' | transloco}}
                            </div>
                        </div>
                        
                        <div class="password_hide" (click)="toggleNewPasswordVisibility()">
                            <img [src]="!newpassword ? 'assets/images/eyeClose.svg' : 'assets/images/eyeOpen.svg'">
                        </div>
                    </div>
                    <div class="form_group position-relative">
                    <input [type]="!changepassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="{{'con_pass'| transloco}}" maxlength="50"  />
                    <img src="assets/images/lock.svg" class="formInput_icon">
                    <div *ngIf="changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched)"  class="error_login">
                    <div *ngIf="changePasswordForm.controls.confirmPassword.errors.required">
                         {{'new_pass_required' | transloco}}
                    </div>               
                      <div ngif="myForm.get('confirmPassword').hasError('passwordMismatch')">
                         {{'pass_not_match' | transloco}}
                      </div>
                    </div>
                    
                    <div class="password_hide" (click)="toggleConfirmPasswordVisibility()">
                    <img [src]="!changepassword ? 'assets/images/eyeClose.svg' : 'assets/images/eyeOpen.svg'">
                    </div>
                    </div>
                    
                    <div class="form_group submit_btn">
                        <button type="submit" class="btn" [ngClass]="{'disabled-button': changePasswordForm.invalid}" [disabled]="changePasswordForm.invalid" (click)="getRestPassword()">{{'submit' | transloco}} 
                            <!-- <img class="ms-1" src="assets/images/arrow-right.svg" alt=""> -->
                        </button>
                    </div>

                    
                </form>
                <div  *ngIf="resetPasswordMessage">
                    <span *ngIf="resetPasswordMessage" class="success-message w-100 text-center d-inline-block">{{ resetPasswordMessage }}</span>
                    <div class="form_group submit_btn">
                        <button type="submit" class="btn" [ngClass]="{'disabled-button': changePasswordForm.invalid}" routerLink="/" > <img class="ms-1" src="assets/images/arrow-left.svg" alt=""> Back to Login 
                        </button>
                        <!-- <a routerLink="/">  <img class="ms-1" src="assets/images/arrow-left.svg" alt=""> Back to Login </a> -->
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
</div>


