.change_pass {
    height: calc(100vh - 150px);
}
.change_passwrd_inputs{
    width: 500px;
    backdrop-filter: blur(15px);
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}
.success-message {
    color: #fff;
    font-weight: bold;
    font-size: 1.429rem;
    margin-top: 10px;
    margin-bottom: 23px;
}
.change_passwrd_inputs form {
    display: flex;
    flex-direction: column;
}

.change_passwrd_inputs form .form_group{
    margin-bottom: 20px;
}

.change_passwrd_inputs form .form_group input {
    font-family: var(--primaryFontFamily);
    font-size: 1rem;
    line-height: 1.2;
    color: #ffffff;
    background-color: transparent;
    border-radius: 0;
    border: 1px solid #ffffff;
    outline: none !important;
    padding: 13.5px 15px 13.5px 45px;
    width: 100%;

}
.submit_btn button {
    width: 100%;
    padding: 14px;
    border: none;
    background-color: #33006a;
    color: #ffffff;
    font-size: 1rem;
}
button:disabled:not(.dropdown-toggle){
    background: #666666;
}


.change_passwrd_inputs form .form_group input::-webkit-input-placeholder{
    font-family: var(--primaryFontFamily);
    font-size: 1rem;
    line-height: 1.2;
    color: #ffffff;
}
.change_passwrd_inputs h2{
    font-family: var(--primaryFontFamily);
    font-size: 2.286rem;
    font-weight: 700;
    list-style: 1.2;
    color: #ffffff;
    margin: 0 0 30px;
}
/* ============================================== Forget Password =================================== */
.error_login {
    font-size: 0.857rem;
    color: red;
}
.formInput_icon {
    position: absolute;
    top: 17px;
    left: 10px;
    bottom: 0;
}
.password_hide {
    position: absolute;
    top: 16px;
    right: 10px;
    display: flex;
    cursor: pointer;
    height: 16px;
    align-items: center;
}

.password_hide img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(347deg) brightness(103%) contrast(102%);
    transition: all .3s ease-in-out;
}
.password_hide img.formInput_icon.formInput_iconEnvelope {
    filter: unset;
}
.password_hide:hover img {
    filter: invert(24%) sepia(82%) saturate(2389%) hue-rotate(338deg) brightness(93%) contrast(98%);
}
.disabled-button {
    background-color: gray; /* Change this to the desired color */
    color: white; /* Change this to the desired color */
    cursor: not-allowed;
}
.form_group input:-webkit-autofill,
.form_group input:-webkit-autofill:hover,
.form_group input:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
}
.mainHeader{
    padding: 30px 0;
}
.mainHeader > .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}


.mainHeader .mainHeader__main .mainHeader__left  {
    display: flex;
    flex-direction: column;
}

.mainHeader .mainHeader__main .mainHeader__left .mainHeader__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.mainHeader .mainHeader__main .mainHeader__left .mainHeader__logo a {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 90px;
}

.mainHeader .mainHeader__main .mainHeader__left .mainHeader__logo a img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

/* ============================================== Forget Password =================================== */
@media screen and (max-width:1366px) {
    .change_pass {
        height: calc(100vh - 122px);
    }
}

.error_login{
    font-size: 0.929rem;
    color: #FDD402;
    font-weight: 600;
    margin-top: 4px;
}