<div class="loginBodyBackground"></div>
<section class="section authentication">
    <div class="container-fluid">
        <div class="authentication__main">
            <div class="authentication__loginBox" >
                <form [formGroup]="loginForm"  *ngIf="showLoginForm" (ngSubmit)="login()">
                    <h2>{{'login.login' | transloco}}</h2>
                    <div class="form-group">
                        <input type="email" id="userName" class="form-control" placeholder="{{'login.login_id' | transloco}}"
                            formControlName="email" autocomplete="on"  maxlength="50" />
                        <div *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors"
                            class="error_login">
                            <div *ngIf="loginForm.controls.email.errors.required">{{'login.email_required' | transloco}}</div>
                        </div>
                        <div *ngIf="loginForm.get('email').hasError('pattern')">
                            {{'login.enter_valid_email' | transloco}} 
                        </div>
                        <img src="assets/images/envelope.svg" class="formInput_icon formInput_iconEnvelope">
                    </div>
                    <div class="form-group">
                        <input [type]="!passwordBoxTypeText ? 'password' : 'text'" id="password" class="form-control"
                            placeholder="Password" formControlName="password" autocomplete="new-password"  maxlength="50" />
                        <div *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors"
                            class="error_login">
                            <div *ngIf="loginForm.controls.password.errors.required">{{'login.pass_required' | transloco}}</div>
                        </div>
                        <img src="assets/images/lock.svg" class="formInput_icon">
                        <div class="password_hide" (click)="passwordBoxTypeText = !passwordBoxTypeText">
                            <img
                                [src]="!passwordBoxTypeText ? 'assets/images/eyeClose.svg' : 'assets/images/eyeOpen.svg'">
                        </div>
                    </div>
                    <!-- captcha -->
                    <div class="form-group custom-margin">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="captchaBox" id="captcha">
                                </div>
                            </div>
                            <div class="col-md-1 p-0 d-flex align-items-center justify-content-center">
                                <button class="createCaptcha" id="createCaptcha" (click)="createCaptcha('captcha')"
                                    type="button">
                                    <img src="assets/images/reset.svg" alt="" class="cursor" >
                                </button>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control captcha-position" matInput placeholder="{{'login.captcha' | transloco}}"
                                    formControlName="captcha" value="" 
                                    id="cpatchaTextboxrellax" autocomplete="off" maxlength="6" />
                                    <!-- maxlength="6"  -->
                                    <small *ngIf="loginForm.get('captcha').invalid && (loginForm.get('captcha').dirty || loginForm.get('captcha').touched)">
                                        <div *ngIf="loginForm.get('captcha').errors.required">Captcha is required</div>
                                        <div *ngIf="loginForm.get('captcha').errors.minlength">Minimum 6 characters required</div>
                                        <div *ngIf="loginForm.get('captcha').errors.maxlength">Maximum 6 characters required</div>
                                        </small>
                            </div>
                           
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary btn-lg w-100"
                            [disabled]="loginForm.invalid" >{{'login.login' | transloco}}
                             <!-- <img src="assets/images/arrow-right.svg" alt="" /> -->
                            </button>
                            <span class="btn w-100 beige" (click)="toggleLoginFormVisibility()">
                                Forgot Password?
                            </span>
                    </div>
                </form>
                <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()" *ngIf="!showLoginForm">
                    <h2 *ngIf="!resetPasswordMessage"> Forgot Password</h2>
                    <div class="form-group"  *ngIf="!resetPasswordMessage">
                        <input type="email" id="userName" class="form-control" placeholder=" Email Id"
                            formControlName="email" autocomplete="on" maxlength="50" />
                        <div *ngIf="forgetPasswordForm.controls.email.touched && forgetPasswordForm.controls.email.errors"
                            class="error_login">
                            <div *ngIf="forgetPasswordForm.controls.email.errors.required">Email Required</div>
                        </div>
                        <div *ngIf="forgetPasswordForm.get('email').hasError('pattern')">
                            {{'login.enter_valid_email' | transloco}} 
                        </div>
                        <img src="assets/images/envelope.svg" class="formInput_icon formInput_iconEnvelope">
                    </div>
                    <div class="form-group"  >
                        <button type="submit" class="btn btn-secondary btn-lg w-100"
                            [disabled]="forgetPasswordForm.invalid" *ngIf="!resetPasswordMessage" >Submit
                            <!-- <img src="assets/images/arrow-right.svg" alt="" /> -->
                            </button>
                            <div *ngIf="resetPasswordMessage" class="success-message w-100 text-center d-inline-block">
                                <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg" alt="Success Image" width="100px" height="100px">
                                <h2>Password Reset Successful</h2> -->
                                <p>{{ resetPasswordMessage }}</p>
                            </div>
                            

                            <span class="w-100 text-center d-inline-block" > 
                              
                                    <a class="back_to_home" (click)="toggleLoginFormVisibility()">
                                        <svg _ngcontent-hgb-c79="" width="19" height="12" viewBox="0 0 19 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-hgb-c79="" d="M18.5303 6.53033C18.8232 6.23744 18.8232 5.76256 18.5303 5.46967L13.7574 0.696699C13.4645 0.403806 12.9896 0.403806 12.6967 0.696699C12.4038 0.989592 12.4038 1.46447 12.6967 1.75736L16.9393 6L12.6967 10.2426C12.4038 10.5355 12.4038 11.0104 12.6967 11.3033C12.9896 11.5962 13.4645 11.5962 13.7574 11.3033L18.5303 6.53033ZM0 6.75H18V5.25H0V6.75Z" fill="white"></path>
                                        </svg> 
                                        Back
                                    </a>
                              
                            </span>
                            
                    </div>
                    
                </form>
               
            </div>
        </div>
    </div>
</section>