<div class="mainContent classificationPage">
    <div class="container-fluid px-0 h-100">
        <div class="mainContent__main h-100">
            <div class="mainContent__top">
                <ul>
                    <li>
                        <div class="dataTables_length" id="data_upload1_length">
                            <span class="showing">Show</span>
                            <label class="showDigits" > 
                                <select (change)="changePageSize()" id="mySelectId">
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                        </div>
                    </li>
                    <!-- <li class="filter_li">
                        <a class="dropdown-toggle filter_sec" matTooltip="Filter" data-bs-auto-close="false"
                            aria-expanded="false" [matTooltipPosition]="'above'" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <img src="assets/images/filter.svg">
                        </a>
                        <div class="filter_drop dropdown-menu custom-popup py-0">
                            <div class="modal-header">
                                <h1 class="modal-title">Filter</h1>
                                <button type="button" class="btn-close ms-auto filter-close" data-bs-auto-close="inside"
                                    aria-expanded="false" aria-label="Close"></button>
                            </div>
                            <form [formGroup]="filterForm" class="">
                                <div class="px-4 py-5">
                                    <div class="form-box h-100 p-0 w-100 pt-2">
                            
                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <div class="add_aggregate_input position-relative">
                                                    <label>By Age</label>
                                                    <mat-form-field class="example-full-width">
                                                        <input matInput formControlName="name" value="">
                                                    </mat-form-field>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-md-12 add_aggregate_input checkbox_div">
                                                <label>Gender</label>
                                               
                                                <div class="d-flex gap-49">
                                                    <div>
                                                        <mat-checkbox [(ngModel)]="genderSelection.all" (change)="updateSelectAll()">All</mat-checkbox>
                                                    </div>
                                                    <div>
                                                        <mat-checkbox [(ngModel)]="genderSelection.male" (change)="updateSelectAll()">Male</mat-checkbox>
                                                      </div>
                                                      <div>
                                                        <mat-checkbox [(ngModel)]="genderSelection.female" (change)="updateSelectAll()">Female</mat-checkbox>
                                                      </div>
                                                      <div>
                                                        <mat-checkbox [(ngModel)]="genderSelection.other" (change)="updateSelectAll()">Other</mat-checkbox>
                                                      </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                        <div class="row grey_box">
                                            <div class="col-md-12">
                                                <div class="add_aggregate_input position-relative px-0">
                                                    <label>By Geographical Area</label>
                                                    <div class="d-flex w-100">
                                                        <div class="w-50 pe-2">
                                                            <label class="gaLabel">Country</label>
                                                            <mat-form-field class="example-full-width textarea-box">
                                                                <mat-select>
                                                                    <mat-option value="Select Country">Select Country</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                        <div class="w-50 ps-2">
                                                            <label class="gaLabel">District</label>
                                                            <mat-form-field class="example-full-width textarea-box">
                                                                <mat-select>
                                                                    <mat-option value="Select District">Select District</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </div>
                                                    </div>
                                                </div>
                                              
                                            </div>
                                        </div>
                                        <div class="row grey_box mb-0">
                                            <div class="col-md-12">
                                                <div class="add_aggregate_input position-relative px-0">
                                                    <label>By Submitted Date</label>
                                                    <mat-form-field class="example-full-width textarea-box">
                                                        <mat-date-range-input [rangePicker]="rangePicker">
                                                            <input matStartDate placeholder="Start date" />
                                                            <input matEndDate placeholder="End date" />
                                                        </mat-date-range-input>
                                                        <mat-datepicker-toggle matIconSuffix
                                                            [for]="rangePicker"></mat-datepicker-toggle>
                                                        <mat-date-range-picker #rangePicker>
                                                            <mat-date-range-picker-actions>
                                                                <button mat-button
                                                                    matDateRangePickerCancel>Cancel</button>
                                                                <button mat-raised-button
                                                                    matDateRangePickerApply>Apply</button>
                                                            </mat-date-range-picker-actions>
                                                        </mat-date-range-picker>
                                                    </mat-form-field>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" d-flex justify-content-center align-items-center border-top py-3">
                                    <button type="button" data-bs-dismiss="modal"
                                        class="btn btn-secondary me-2">Reset</button>
                                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Apply</button>
                                </div>
                            </form>
                        </div>
                    </li> -->

                </ul>
                <div [class]="seacrinput ? 'searchBar fullWidth' : 'searchBar'">
                    <input type="search" class="seacrinput" placeholder="Search" (search)="clearSearch()"
                        (keyup)="updateFilter($event)" />
                    <div class="searchBar_icon" (click)="searchBar()">
                        <img src="assets/images/icon/search.svg">
                    </div>
                </div>
            </div>
            <div class="ngxDatatable">
                <ngx-datatable class="material" [rows]="rows" [headerHeight]="50" [columnMode]="columnMode.force"
                    [footerHeight]="40" [rowHeight]="'auto'" [messages]="{emptyMessage:'No data'}" [limit]="10">


                    <ngx-datatable-column name="#" [width]="40" [canAutoResize]="false" [draggable]="false"
                        [sortable]="false" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            {{(rowIndex + 1)}}
                        </ng-template>
                    </ngx-datatable-column>


                    
                    <!-- <ngx-datatable-column name="Geographical Area" prop="area">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.area || '-'}}
                        </ng-template>
                    </ngx-datatable-column> -->

                    <!-- <ngx-datatable-column name="Name" prop="name">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.name}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Email ID" prop="email">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.email}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Contact Number" prop="contact_number">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.contact_number}}
                        </ng-template>
                    </ngx-datatable-column> -->

                    <ngx-datatable-column prop="user.age" [width]="150"  [maxWidth]="150">
                        <ng-template ngx-datatable-header-template>
                            <p class="m-0">Age <span class="tableYear">(Yrs)</span></p>
                          </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row?.user?.age || '-'}}
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Gender" prop="user.gender" [width]="100"  [maxWidth]="100">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{ row?.user?.gender || '-' }}
                        </ng-template>
                    </ngx-datatable-column>
              
                    <ngx-datatable-column name="Geographical Area" prop="id_mobileappuser">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            <div class="level_area">
                                <p>{{ row?.user?.area?.ParentArea?.name? (row?.user?.area?.ParentArea?.name + ' | ' + row?.user?.area?.name) :"Not Specified" }}</p>
                                <!-- <p>{{row?.user?.area?.ParentArea?.name}} | {{row?.user?.area?.name}}</p> -->
                          </div>
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Submitted Date" prop="created">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row?.created | date:'yyyy-MM-dd'}}
                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column name="Message" prop="message">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            <div class="modal_para">
                                <p class="ellipseText" matTooltip="{{ row.message }}" [matTooltipPosition]="'above'">{{row.message}}</p>
                                <img class="popupArrow" src="assets/images/arrow.svg"  (click)="onClickMessageIcon(row.message)" data-bs-toggle="modal" data-bs-target="#messageModal"/>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    


                    <ngx-datatable-column [maxWidth]="180" class="name_specific_col" name="Action" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
                            <div class="dropdown select_action">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"  >
                                    <li module="Admin" submodule="Access Control-User" accessType="View Details" *ngIf="assignedCountryList.length==1 || userType==1">
                                        <a class="dropdown-item" href="javascript:void(0);"  data-bs-toggle="modal" data-bs-target="#viewDetails" (click)="viewMassageMode(row)">View Details</a>
                                    </li>
                                    <li module="Admin" submodule="Access Control-User" accessType="delete">
                                        <a class="dropdown-item" href="javascript:void(0);" (click)="deleteBlog(row?.id)">Delete</a>
                                    </li>

                                </ul>
                            </div>

                        </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                            <div class="CstmPadding">
                                <div>
                                    {{'showing'}} {{rowCount <=0 ? 0 : offset * pageSize +1 }} {{'to'}} {{ rowCount>
                                        curPage *
                                        pageSize ? curPage * pageSize : rowCount}} {{'of'}} {{rowCount}}
                                        {{'records'}}

                                </div>
                            </div>
                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'"
                                [page]="curPage" [size]="pageSize" [count]="rowCount"
                                [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                            </datatable-pager>
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>

            </div>
        </div>
    </div>
</div>

<!-- =================================Message Modal Box========================= -->

<div class="modal fade custom-popup" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-5 pt-4">
                <p>{{rowMessageData}}</p>                
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center border-top">
                <button data-bs-dismiss="modal" class="btn btn-primary">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- =================================Edit Comment Modal Box========================= -->

<div class="modal fade custom-popup" id="viewDetails" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body px-5 pt-4 form-box">
                <table class="table viewDetailsTable">
                    <tbody>
                        <tr>
                            <td>Name:</td><td><span>{{viewRowMessage.name}}</span></td>
                        </tr>
                        <tr>
                            <td>Email ID:</td><td><span class="wrap">{{viewRowMessage.email}}</span></td>
                        </tr>
                        <tr>
                            <td>Contact Number:</td><td><span>{{viewRowMessage.contact_number}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center border-top">
                <button data-bs-dismiss="modal" class="btn btn-primary">Ok</button>
            </div>

        </div>
    </div>
</div>