<div class="gallery-sidebar add-user-modal" [ngClass]="add_form ? 'form-expand' : 'form-collapse'">
    <form [formGroup]="manageCredential" class="position-relative">
        <div class="gallery-toggler add-user" (click)="closeForm()" matTooltip="{{ !showTooltip ? ('add'|transloco) : ('close'|transloco) }}" module="Admin" submodule="Access Control-User" accessType="add_edit">
            <img src="assets/images/plus.svg" alt="">
        </div>
        <div class="form-heading">
           
            <h5><span class="bg-white">{{viewForm ? 'View' : titlePage}} {{'user.form_title'| transloco}}</span></h5>
        </div>
        <div class="gallery-collection">
            <div class="form-box">
                <div class="row">
                    <div class="col-12">
                        <div class="add_aggregate_input position-relative">
                            <label><span class="error-span">*</span> Name</label>
                            <mat-form-field class="example-full-width">
                                <input matInput  formControlName="username"  value="">
                                <mat-error class="star error-span" *ngIf="manageCredential.get('username')?.invalid && (manageCredential.get('username')?.dirty || manageCredential.get('name')?.touched)">
                                    <div class="star error-span" *ngIf="manageCredential.get('username').errors?.required"> {{'user.name' | transloco}} {{'user.is_required' | transloco}}</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="add_aggregate_input position-relative">
                            <label><span class="error-span">*</span>Email</label>
                            <mat-form-field class="example-full-width">
                                <input matInput [readonly]="(showEdit)?true:false"  formControlName="email"  value="">
                                <mat-error class="star error-span"
                                    *ngIf="manageCredential.get('email')?.invalid && (manageCredential.get('email')?.dirty || manageCredential.get('email')?.touched)">
                                    <div class="star error-span" *ngIf="manageCredential.get('email').errors?.required"> Email is Required</div>
                                    <div class="star error-span" *ngIf="manageCredential.get('email').errors?.pattern"> {{'email_error_msg' |
                                        transloco}}</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- <div class="row grey_box"> -->
                        <!-- <div class="col-md-12 grey_boxAdd">
                            <div class="add_aggregate_input position-relative px-0">
                                <label class="geographical">By Geographical Area</label>
                                <div class="d-flex w-100">
                                    <div class="w-50 pe-2">
                                        <label class="gaLabel">Country</label>
                                        <mat-form-field class="example-full-width textarea-box">
                                            <mat-select>
                                                <mat-option value="Select Country">Select Country</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="w-50 ps-2">
                                        <label class="gaLabel">District</label>
                                        <mat-form-field class="example-full-width textarea-box">
                                            <mat-select>
                                                <mat-option value="Select District">Select District</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                          
                        </div> -->
                    <!-- </div> -->
             
                    <div class="col-12">
                        <div class="add_aggregate_input position-relative password_box">
                            <label><span *ngIf="!showEdit" class="error-span">*</span> {{'user.password' | transloco}}</label>
                            <mat-form-field class="example-full-width">
                                <input matInput  formControlName="password"  value=""
                                    [type]="passwordBoxTypeText ? 'text' : 'password' " >
                                <button mat-icon-button matSuffix (click)="passwordBoxTypeText = !passwordBoxTypeText"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordBoxTypeText">
                                    <mat-icon>{{passwordBoxTypeText ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </button>
                                <mat-error class="star error-span" *ngIf="manageCredential.get('password')?.invalid && (manageCredential.get('password')?.dirty || manageCredential.get('password')?.touched)">
                                    <div class="star error-span" *ngIf="manageCredential.get('password').errors?.required">   {{'user.password' | transloco}} {{'user.is_required' | transloco}}</div>
                                    <div  class="star error-span password_msg" *ngIf="manageCredential.get('password').errors?.pattern"> {{'pass_error_msg' | transloco}}</div>
                                  </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
        
              
                    <!-- <div class="col-12">
                        <div class="add_aggregate_input position-relative">
                            <label><span class="error-span">*</span>Email</label>
                            <mat-form-field class="example-full-width">
                                <input matInput  formControlName="email"  value="">
                            </mat-form-field>
                        </div>
                    </div> -->
                    <!-- <div class="col-12">
                        <div class="add_aggregate_input position-relative">
                            <label><span class="error-span">*</span> Role</label>
                            <mat-form-field class="example-full-width textarea-box">
                                <mat-select formControlName="role" (selectionChange)="onChangeSelection()">
                                    <mat-option [value]="1">Superadmin</mat-option>
                                    <mat-option [value]='2'>Admin</mat-option>
                                    <mat-option [value]='3'>Country User</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                 -->
                    <!-- <div class="col-12">
                    </div> -->
                
                    <div class="col-12">
                        <div class="add_aggregate_input position-relative">
                            <label><span class="error-span">*</span> Geographical Area</label>
                            <mat-form-field appearance="fill" class="example-full-width textarea-box">
                                <mat-select
                                 formControlName="cid"
                                  multiple  
                                >        
                                    <mat-select-trigger *ngIf="manageCredential?.value?.cid?.length">
                                        {{getCountryName(manageCredential?.value?.cid?.[0]=='all selected'?manageCredential?.value?.cid?.[1]:manageCredential?.value?.cid?.[0]) || '' }}
                                        <ng-container *ngIf="( manageCredential.value.cid?.length || 0) > 1">
                                            <span class="example-additional-selection">
                                                (+{{ (manageCredential.value.cid?.length || 0) - 1 }}
                                                {{ manageCredential.value.cid?.length === 2 ? 'other' : 'others' }})
                                            </span> 
                                        </ng-container>
                                    </mat-select-trigger>

                                  <mat-option (click)="toggleSelectAll()"   value='all selected'>
                                    Select All
                                  </mat-option>
                                  <mat-option *ngFor="let option of allCountryList" [value]="option.country_id" (click)="onSelectionChange($event)">
                                    {{ option?.country_name }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                              
                       
                        </div>
                    </div> 
                         <!-- <mat-form-field class="example-full-width textarea-box">
                                <mat-select formControlName="cid">
                                    <mat-option>All</mat-option>
                                    <mat-option *ngFor="let item of allCountryList"
                                        [value]="item?.country_name" [disabled]="countryListData.includes(item?.country_name)">{{item.country_name}}</mat-option>
                                </mat-select>
                            </mat-form-field> -->
                </div>
            </div>
           
            
        </div>
        <div class="gallery-sidebar-button modal-footer-shadow text-center">
            <button type="button" class="btn" *ngIf="!showEdit" [disabled]="!manageCredential.valid || manageCredential.value.password == ''"
                (click)="addCredential()">{{'user.add' | transloco}}
            </button>
            <button type="button" class="btn" *ngIf="showEdit" [disabled]="!manageCredential.valid"
                (click)="updateCredential()">{{'user.update' | transloco}}
            </button>
        </div>
    </form>
</div>

<div class="overlay"></div>


