
<div class="loginBodyBackground"></div>
<div class="change_pass">
    <div class="container-fluid px-0 h-100">
        <div class="mainContent__main h-100 d-flex">
            <div class="change_passwrd_inputs">
                <form [formGroup]="changePasswordForm"  (ngSubmit)="changePassword()">
                    <h2>{{'change_password' | transloco}}</h2>
                    <div class="form_group position-relative">
                        <input [type]="!currentpassword ? 'password' : 'text'" formControlName="currentPassword" placeholder=" {{'curr_pass' | transloco}}">
                    
                        <div *ngIf="changePasswordForm.controls.currentPassword.touched && changePasswordForm.controls.currentPassword.errors"
                            class="error_login">
                            <div *ngIf="changePasswordForm.controls.currentPassword.errors.required"> {{'currpassword_required' | transloco}}</div>
                        </div>
                        <div class="password_hide" (click)="currentpassword = !currentpassword">
                            <img [src]="!currentpassword ? 'assets/images/eyeClose.svg' : 'assets/images/eyeOpen.svg'">
                        </div>
                    </div>
                 
                    <div class="form_group position-relative">
                    <input [type]="!newpassword ? 'password' : 'text'" formControlName="newPassword" placeholder="{{'new_pass' | transloco}}">
                    <div *ngIf="changePasswordForm.controls.newPassword.invalid && (changePasswordForm.controls.newPassword.dirty || changePasswordForm.controls.newPassword.touched)"  class="error_login">
                        <div *ngIf="changePasswordForm.controls.newPassword.errors.required"> {{'new_pass_required' | transloco}}</div>
                        <div *ngIf="changePasswordForm.controls.newPassword.errors.minlength">
                            {{'pass_length' | transloco}}
                        </div>
                        <div *ngIf="changePasswordForm.controls.newPassword.errors.maxlength">
                            {{'pass_length_20' | transloco}}
                        </div>
                        <div *ngIf="!changePasswordForm.controls.newPassword.errors.maxlength && !changePasswordForm.controls.newPassword.errors.minlength && changePasswordForm.controls.newPassword.errors.pattern">
                             {{'pass_check' | transloco}}
                        </div>
                      </div>
                    <div class="password_hide" (click)="newpassword = !newpassword">
                        <img [src]="!newpassword ? 'assets/images/eyeClose.svg' : 'assets/images/eyeOpen.svg'">
                    </div>
                    </div>
                    <div class="form_group position-relative">
                    <input [type]="!changepassword ? 'password' : 'text'" formControlName="confirmPassword" placeholder="{{'con_pass'| transloco}}">
                    
                    <div *ngIf="changePasswordForm.controls.confirmPassword.invalid && (changePasswordForm.controls.confirmPassword.dirty || changePasswordForm.controls.confirmPassword.touched)"  class="error_login">
                        <div *ngIf="changePasswordForm.controls.confirmPassword.errors.required">
                             {{'new_pass_required' | transloco}}
                        </div>               
                          <div ngif="myForm.get('confirmPassword').hasError('passwordMismatch')">
                             {{'pass_not_match' | transloco}}
                          </div>
                        </div>
                    <div class="password_hide" (click)="changepassword = !changepassword">
                        <img [src]="!changepassword ? 'assets/images/eyeClose.svg' : 'assets/images/eyeOpen.svg'">
                    </div>
                    </div>
                    <div class="form_group submit_btn">
                        
                        <button type="submit {{changePasswordForm.invalid ? 'disabled': ''}}"  class="btn" [disabled]="changePasswordForm.invalid">{{'submit' | transloco}}</button>
                    </div>
                </form>
            </div>
         
        </div>
    </div>
</div>

