<div class="gallery-sidebar add-user-modal" [ngClass]="add_form ? 'form-expand' : 'form-collapse'">
    <form [formGroup]="manageUser" class="position-relative">
        <div class="gallery-toggler add-user" (click)="closeForm()" *ngIf="showTooltip"  matTooltip="{{!showTooltip ? ('Edit'|transloco) : ('close'|transloco) }}">
            <img src="assets/images/plus.svg" alt="">
        </div>
        <div class="form-heading">
            
            <h5><span class="bg-white">{{titlePage}} {{'user.form_title'| transloco}}</span></h5>
        </div>
        <div class="gallery-collection">
            <div class="form-box">
                <div class="row">
                    <div class="col-12">
                        <div class="add_aggregate_input position-relative">
                            <label><span class="error-span"></span> {{'Username' | transloco}}</label>
                            <mat-form-field class="example-full-width">
                                <input matInput  formControlName="name"  value=""> 
                            </mat-form-field>
                        </div>
                    </div>
             
                        <div class="col-12">
                            <div class="add_aggregate_input position-relative">
                                <label><span class="error-span"></span> User language</label>
                                <!-- <mat-form-field class="example-full-width">
                                    <input matInput formControlName="language">
                                </mat-form-field> -->
                                <mat-form-field class="example-full-width textarea-box">
                                    <mat-select formControlName="language">
                                        <mat-option *ngFor="let language of availableLanguages" [value]="language?.code">
                                            {{language?.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
            

                        
                        <div class="col-12">
                            <div class="add_aggregate_input position-relative">
                                <label><span class="error-span"></span>Geographical Area </label>

                                <mat-form-field class="example-full-width textarea-box">
                                    <mat-select formControlName="place">
                                        <mat-option *ngFor="let country of allCountryList" [value]="country?.country_name">
                                            {{country?.country_name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- <mat-form-field class="example-full-width">
                                    <input matInput formControlName="place">
                                </mat-form-field> -->
                            </div>
                        </div>
                        

                        <div class="col-12">
                            <div class="add_aggregate_input position-relative">
                                <label><span class="error-span"></span> User gender</label>
                                <mat-form-field class="example-full-width textarea-box">
                                    <mat-select formControlName="gender">
                                        <mat-option *ngFor="let gender of genderList" [value]="gender?.viewValue">
                                            {{gender?.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="add_aggregate_input position-relative">
                                <label><span class="error-span"></span> User age</label>
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="age">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
           
            
        </div>
        <div class="gallery-sidebar-button modal-footer-shadow text-center" *ngIf="!viewForm">
            <!-- <button type="button" class="btn" *ngIf="!showEdit" [disabled]="!manageUser.valid"
                (click)="addUser()">{{'user.add' | transloco}}
               <img src="assets/images/arrow-right.svg" class="ms-2" alt="">
            </button> -->
            <button type="button" class="btn" [disabled]="!manageUser.valid"
                (click)="updateUser()">{{'user.update' | transloco}}
                <!-- <img src="assets/images/arrow-right.svg" class="ms-2" alt=""> -->
            </button>
        </div>
    </form>
</div>

<div class="overlay"></div>


