<div class="mainContent classificationPage">
    <div class="container-fluid px-0 h-100">
        <div class="mainContent__main h-100">
            <div class="mainContent__top">
                <ul>
                    <li>
                        <div class="dataTables_length" id="data_upload1_length">
                            <span class="showing">Show</span>
                            <label class="showDigits" > 
                                <select (change)="changePageSize()" id="mySelectId">
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                        </div>
                    </li>
                </ul>
                <div [class]="seacrinput ? 'searchBar fullWidth' : 'searchBar'">
                    <input type="search" class="seacrinput" placeholder="Search" (search)="clearSearch()"
                        (keyup)="updateFilterList($event)" />
                    <div class="searchBar_icon" (click)="searchBar()">
                        <img src="assets/images/icon/search.svg">
                    </div>
                </div>
            </div>
            <div class="ngxDatatable">
                <ngx-datatable class="material" [rows]="rows" [columnMode]="columnMode.force"
                    [headerHeight]="45" [footerHeight]="40" [rowHeight]="'auto'" [selected]="selected" [limit]="10"
                    [messages]="{emptyMessage:'No data'}">
                    <ngx-datatable-column name="#" [width]="40" [canAutoResize]="false" [draggable]="false"
                        [sortable]="false" [resizeable]="false">
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            {{(rowIndex + 1)}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Mood" prop="name">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.mood}}
                        </ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column name="Description" prop="description">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.description}}
                        </ng-template>
                    </ngx-datatable-column> 
                    <ngx-datatable-column name="Assigned Modules" prop="assigned-modules">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template autocomplete="off">
                            {{row.assigned_modules}}
                        </ng-template>
                    </ngx-datatable-column>                    
                    <ngx-datatable-column name="Action" prop="show/hide" [maxWidth]="180" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div class="dropdown select_action">
                                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li module="Admin" submodule="Access Control-User" accessType="add_edit">
                                        <a class="dropdown-item" href="javascript:void(0);" (click)="handleEdit(row)">Edit</a>
                                    </li>
                                    <!-- <li module="Admin" submodule="Access Control-User" accessType="delete">
                                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                    </li> -->
                                </ul>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-footer>
                        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                            let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                            <div class="CstmPadding">
                                <div>
                                    {{'showing'|transloco}} {{rowCount <=0 ? 0 : offset * pageSize +1 }} {{'to' |
                                        transloco}} {{ rowCount> curPage *
                                        pageSize ? curPage * pageSize : rowCount}} {{'of' | transloco}} {{rowCount}}
                                        {{'records'|transloco}}

                                </div>
                            </div>
                            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                                [pagerRightArrowIcon]="'datatable-icon-right'"
                                [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'"
                                [page]="curPage" [size]="pageSize" [count]="rowCount"
                                [hidden]="!((rowCount / pageSize) > 1)" (change)="table.onFooterPage($event)">
                            </datatable-pager>
                        </ng-template>
                    </ngx-datatable-footer>
                </ngx-datatable>

            </div>
        </div>
    </div>
</div>


<app-add-edit (setPage)="setPage({ offset: 0 })"></app-add-edit>