<div class="mainFooter">
    <div class="container-fluid">
        <div class="mainFooter__main">
            <div class="mainFooter__left">
                <p>{{'Copyright © 2022 -' | transloco}}<span class="copyrightCurrentYear"></span>. {{'all_right_reserved'| transloco}}.</p>
            </div>
            <div class="mainFooter__right">
                <a _target="" class="text-decoration-none" href="https://www.itechmission.org/" target="_blank"> 
                    <p>{{'Powered by' | transloco}} <span>{{'iTech Mission' | transloco}}</span></p>
                </a>
            </div>
        </div>
    </div>
</div>