<div class="mainFooter">
    <div class="container-fluid">
        <div class="mainFooter__main">
            <div class="mainFooter__left">
                <p>{{'Copyright © 2022 -' | transloco}} <span class="copyrightCurrentYear"></span>. {{'all_right_reserved' | transloco}}.
                     <!-- <a href="https://statsmauritius.govmu.org/SitePages/Index.aspx" class="statsMauritiusLogo" target="_blank"><img src="assets/images/stats-mauritius-h.svg" alt="" /></a> -->
                    </p>
            </div>
            <div class="mainFooter__right">
                <p>{{'Powered by' | transloco}} <a href="https://www.itechmission.org/" class="text-decoration-none" target="_blank"><span>{{'iTech Mission' | transloco}}</span></a></p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="footerHelpBox dropdown">
    <button class="dropdown-toggle" type="button" id="footerHelpButton" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="assets/images/sidebar/question-mark.svg" matTooltip="Help">
    </button>
    <ul class="dropdown-menu" aria-labelledby="footerHelpButton">
        <li><a [attr.href]="dashboardUrl+'/page/resources'">Access User Guide</a></li>
        <li><a [attr.href]="dashboardUrl+'/page/resources'">How To Video</a></li>
    </ul>
</div> -->